@charset "utf-8";

.IAbutton {
	background-color:#848689;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	color:#ffffff;
	font-family:courier;
	font-size:14px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
}.IAbutton:hover {
	background-color:#848689;
}.IAbutton:active {
	position:relative;
	top:1px;
}
.options {
	font-family:courier;
	font-size:14px;
	line-height:200%;
}
.everything {
	position:relative;
	top:-5px;
	border:solid;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
	border-width:2px;
	border-color:#848689;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
}
h2 {
	border-style:solid;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-width:2px;
	background-color:#cbccce;
	color:black;
	font-family:courier;
	font-size:21px;
	font-weight:bold;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
}
.exam {
	width:100%;
	position:relative;
	top:0px;
	border:solid;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
	border-width:2px;
	border-color:#848689;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
}
.etext{
	font-family:courier;
	font-size:14px;
	line-height:150%;
	width:100%;
	padding:5px;
}
.eheading {
	width:102%;
	border-style:solid;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-width:2px;
	background-color:#cbccce;
	color:black;
	font-family:courier;
	font-size:21px;
	font-weight:bold;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
}
.ebutton {
	font-family:courier;
	font-size:14px;
	line-height:200%;
}
.practice {
	width:100%;
	position:relative;
	top:0px;
	border:solid;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
	border-width:2px;
	border-color:#848689;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
}
.ptext{
	font-family:courier;
	font-size:14px;
	line-height:150%;
	width:100%;
	padding:5px;
}
.pheading {
	width:102%;
	border-style:solid;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-width:2px;
	background-color:#cbccce;
	color:black;
	font-family:courier;
	font-size:21px;
	font-weight:bold;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
}
.pbutton {
	font-family:courier;
	font-size:14px;
	line-height:200%;
}
.missing-letter, .extra-letter {
	color: blue;
	background-image:url("https://isdev.byu.edu/is/share/BrainHoney/IA/type_specific_files/wpm_test/SQUIGGLE_blue.png");
	background-repeat:repeat-x;
	background-position:left bottom;
	padding-bottom:5px;
}
.missing-word, .extra-word{
	font-family:courier;
	font-size:14px;
	color: red;
	background-image:url("https://isdev.byu.edu/is/share/BrainHoney/IA/type_specific_files/wpm_test/SQUIGGLE_red.png");
	background-repeat:repeat-x;
	background-position:left bottom;
	padding-bottom:5px;
}
.mistyped-letter {
	font-family:courier;
	font-size:14px;
	color: blue;
	background-image:url("https://isdev.byu.edu/is/share/BrainHoney/IA/type_specific_files/wpm_test/SQUIGGLE_blue.png");
	background-repeat:repeat-x;
	background-position:left bottom;
	padding-bottom:5px;
}
.missing-space {
	background-color: red;
	text-decoration: underline;
	border-bottom: 1px pink;
}
.correct {
	color: black;
}
.untyped {
	color: grey;
}
.typing-error {
	color: red;	
	background-image:url("https://isdev.byu.edu/is/share/BrainHoney/IA/type_specific_files/wpm_test/SQUIGGLE_red.png");
	background-repeat:repeat-x;
	background-position:left bottom;
	padding-bottom:5px;
}
.hiddenSettings {
	height:0px;
	width:0px;	
}